{% extends "base.html.twig" %}
{% block titre %}
Auteur : {{auteur.nom}} - {{auteur.prenom}}
{% endblock %}
{% block contenu %}
    {% if isModification %}
    <form method="post" action="/auteurs/modificationServer">
        <fieldset>
            <legend>Modification d'un auteur</legend>
            <div class="form-group">
                <label for="prenom">Prénom</label>
                <input type="text" class="form-control" id="prenom" name="prenom" value="{{auteur.prenom}}">
            </div>
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" name="nom" value="{{auteur.nom}}">
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" name="age" id="age" class="form-control" value="{{auteur.age}}">
            </div>
            <div class="form-group form-check-inline">
                <input type="checkbox"  id="sexe" name="sexe" class="form-check-input"
                {% if auteur.sexe %} checked {% endif %}
                >
                <label for="sexe" class="form-check-label">Homme</label>
            </div>
            <input type="hidden" name="identifiant" value="{{auteur._id}}">
            <button class="btn btn-primary" type="submit">Valider</button>
        </fieldset>
    </form>
    {% else %}
        <h2>Nom : {{auteur.nom}}</h2>
        <h2>Prenom : {{auteur.prenom}}</h2>
        <div>Age : {{auteur.age}}</div>
        <div>Sexe :
            {% if auteur.sexe %}
            Homme
            {% else %}
            Femme
            {% endif %}
        </div>
        <h2>Livres</h2>
        <div class="row">
            {% for livre in auteur.livres %}
            <div class="col-12 col-lg-6 mt-2">
                <div class="row">
                    <div class="col-6">
                        <img src="/images/{{livre.image}}">
                    </div>
                    <div class="col-6">
                        <div>Titre : <a href="/livres/{{livre._id}}">{{livre.nom}}</a></div>
                        <div>Nombre de pages : {{livre.pages}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}